html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: Georgia, serif;
}

h1, h2 {
    margin-top: 0;
}

.default_message {
    width: 500px;
    margin: 0 auto;
    padding-top: 10%;
    font-size: 18px;
    font-family: Linux Libertine;
    color: #1A1F2C;
    text-shadow: 1px 1px 1px #999;
    letter-spacing: 0.02em;
}

.default_message p {
    padding: 9px;    
}

.default_message h3 {   
    text-shadow: 1px 1px 2px #555; 
    color: #07241F;
    font-size: 30px;
    font-family: Raleway;
}