html, body, .container, .hero-unit {
    background-color: transparent;    
}

.top-alert {
    padding: 10px;  
    text-align: center;
}

.top-alert:empty {
    display: none;
    text-align: center;
}

:-webkit-full-screen > * {
  width: 100%;
  height: 100%;
}

form {
    padding-bottom: 3em;    
}

.btn:focus, a:focus {
    outline: none;
}

.form_buttons {
    left: 0;
    margin: auto;
    position: fixed;
    bottom:0;
    text-align: center;
    width: 100%;
    text-align: left;
    padding: 8px;
    padding-top: 12px;
    border-top: 1px solid #AAA;
    background-color: #F5F5F5;
    box-shadow: 0 1px 3px #555;
}

.description {
    font-size: .9em;
    color: #666;
    clear: both;
    text-align: left;
    float: right;
    width: 60%;
    font-style: italic;
    padding: 0 6px 1.2em;
}

.description.alert-error,
.description.alert-success,
.description.alert-info,
.description.alert {
    font-style:normal;    
}

.html_field .description,
.textarea_field .description {
    width: 100%;
    float: none;
}

.form_field:after,
.input_bounding:after {
    content: '.';
    height: 0;
    visibility: hidden;
    user-select: none;
    display: block;
    clear:both;    
}

label,
#wysihtml5-toolbar-content {
    float: left;
    clear: left;
    margin-top: 1em;
    padding: 4px 6px;
    width: 30%;
}
input,
textarea,
.input_bounding {
    float: right;
    clear: right;
    margin-top: 1em;
    padding-top: 1em;
}

.input_bounding {
    margin-top: .5em;    
}

input[type="text"],
input[type="datetime"],
input[type="url"],
input[type="email"],
input[type="number"],
input[type="password"],
.input_bounding {
    width: 60%;    
}

input[type="checkbox"] {
    clear: both;
    margin: 0;
    float: left;
}

textarea {
    width: 97%;
    min-width: 97%;
    max-width: 97%;
    clear: both;
}

.html_field textarea {
    height: 20em;    
}

.html_field label {
    width: auto;    
}

.wysihtml5-toolbar,
.wysihtml5-toolbar a {
    color: #999;    
}

.wysihtml5-toolbar > a {
    font-family: 'WebSymbolsRegular'; 
    text-decoration: none;
    width: 20px;
    height: 20px;
    margin: 0 0 0 5px;
    padding: 0;
    text-align: center;
    display: inline-block;
}

.wysihtml5-toolbar > a:hover {
    color: black;    
}

.wysihtml5-toolbar > select {
    font-size: smaller;
    background-color: white;
    margin: 0;
    display: inline-block;
    width: auto;
    vertical-align: middle;
    border: 1px solid #999;
    padding: 0;
    line-height: .8em;
    height: auto;
    border-radius: 0;
}


#wysihtml5-toolbar-content {
    float: right;
    clear: right;
    width: auto;
}
div[data-wysihtml5-dialog] {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 8px 8px 8px 8px;
    left: 0;
    margin: auto;
    min-width: 300px;
    position: fixed;
    right: 0;
    top: 30%;
    width: 80%;
    padding: 10px;
    color: white;
}
div[data-wysihtml5-dialog],
div[data-wysihtml5-dialog] a {
    font-family: 'HelveticaNeue', 'Helvetica', 'Arial', sans-serif;
}
    
div[data-wysihtml5-dialog] label {
    width: 100%;    
}

div[data-wysihtml5-dialog] label input,
div[data-wysihtml5-dialog] label select {
    width: 60%;
    margin-top: 0;
    margin-right: 20px;
    float: right;
    padding: 4px 6px;
}

a[data-wysihtml5-dialog-action] {
    width: auto;
    color: #333;
    float: left;
    margin: 10px 10px 5px;
}

a[data-wysihtml5-dialog-action="save"] {
    color: white;
}

a[data-wysihtml5-command-value="blockquote"],
a[data-wysihtml5-command="insertUnorderedList"],
a[data-wysihtml5-command="insertOrderedList"],
a[data-wysihtml5-command="justifyLeft"],
a[data-wysihtml5-command="justifyFull"],
a[data-wysihtml5-command="justifyCenter"],
a[data-wysihtml5-command="justifyRight"],
a.toggle-fullscreen {
    cursor: pointer;
    font-family: 'FontAwesome';    
}

.form_field.fullscreen {
    background-color: #F5F5F5;
    position: relative;
}

.form_field.fullscreen .fs-wrapper {
    top: 35px;
    bottom: 25px;
    margin: auto;
    position: absolute;
    height: auto;
    left: 15px;
    right: 15px;
    padding: 0;
}

.form_field.fullscreen #wysihtml5-toolbar-content {
    position: absolute;
    top: -20px;
    right: 15px;
}

.form_field.fullscreen label,
.form_field.fullscreen .description {
    display: none;
}

.form_field.fullscreen .fs-wrapper textarea,
.form_field.fullscreen .fs-wrapper iframe {
    max-width: 99% !important;
    max-height: 99% !important;
    min-width: 99% !important;
    min-height: 99% !important;
    width: 99% !important;
    height: 99% !important;
    display: block !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto !important;
    box-sizing: padding-box !important;
    -o-sizing: padding-box !important;
    -moz-sizing: padding-box !important;
    -msie-sizing: padding-box !important;
    -khtml-sizing: padding-box !important;
    -webkit-sizing: padding-box !important;
}

.form_field.fullscreen .fs-wrapper iframe[style*="display: none"] {
    display:none !important;    
}