html, body {
    height: 100%;
    background-color: #555;
}

body,iframe {
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateZ(0px);
    border: 0;    
}

.btn:focus, a:focus {
    outline: none;
}

#login_frame {
    margin: 0 auto;
}

#login_frame {
    margin-top: 10%;
    color: white;
}

#login h1 {
    text-align: center;
}

#login input,
#login label {
    width: 206px;
    margin: 0 auto;
    display: block;
}

#login input,
#login h1 {
    margin-bottom: 20px;    
}

#login button {
    display: block;
    margin: 0 auto;
}

#login label {
    display:none;    
}

body > .container {
    height: 100%;    
}

#tools .nav-pills {
    margin-bottom: 0;    
}

#letterhead {
    left: 0;
    margin: auto;
    right: 0;
    top: 0;  
}

#welcome {
    padding-top: 9px;    
    padding-right: 50px;
}
 
#sub_body,
#panel_container {
    height: 100%;
}

#menu.well {
    padding-left: 0;
    padding-right: 0;
}

#panel_container iframe,
#panel_container .settings-pane {
    height: 98%;
    margin-bottom: 0;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -msie-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

@media (min-width:768px) {
    #sub_body {
        padding-top: 50px;
        box-sizing: border-box;
        -o-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -msie-box-sizing: border-box;
        -khtml-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }   
}

@media (max-width: 768px) {
    .navbar .nav.pull-right {
        float:none;
        position:fixed;
        bottom:0;
        width: 100%;
    }    
}